<a href="https://colab.research.google.com/github/sriramabonam/Data-Science-Portfolio/blob/master/Data_Cleaning_In_Python_(Practical_Examples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
from google.colab import files
uploaded = files.upload()

Saving unclean_data.csv to unclean_data.csv

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('/content/unclean_data.csv', encoding = "ISO-8859-1")

In [42]:
df.head()

                                  movie_title  ...  title_year.1
0                                    Avatar?ÿ  ...        2009.0
1  Pirates of the Caribbean: At World's End?ÿ  ...           NaN
2                                   Spectre?ÿ  ...        2015.0
3                     The Dark Knight Rises?ÿ  ...           NaN
4                               John Carter?ÿ  ...           NaN

[5 rows x 16 columns]

In [51]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [52]:
df.columns.str.upper()

Index(['MOVIE_TITLE', 'NUM_CRITIC_FOR_REVIEWS', 'DURATION',
       'DIRECTOR_FACEBOOK_LIKES', 'ACTOR_3_FACEBOOK_LIKES',
       'ACTOR_1_FACEBOOK_LIKES', 'GROSS', 'NUM_VOTED_USERS',
       'CAST_TOTAL_FACEBOOK_LIKES', 'FACENUMBER_IN_POSTER',
       'NUM_USER_FOR_REVIEWS', 'BUDGET', 'TITLE_YEAR',
       'ACTOR_2_FACEBOOK_LIKES', 'IMDB_SCORE', 'TITLE_YEAR.1'],
      dtype='object')

In [0]:
df.columns = df.columns.str.upper()

In [71]:
df.columns

Index(['MOVIE_TITLE', 'NUM_CRITIC_FOR_REVIEWS', 'DURATION',
       'DIRECTOR_FACEBOOK_LIKES', 'ACTOR_3_FACEBOOK_LIKES',
       'ACTOR_1_FACEBOOK_LIKES', 'GROSS', 'NUM_VOTED_USERS',
       'CAST_TOTAL_FACEBOOK_LIKES', 'FACENUMBER_IN_POSTER',
       'NUM_USER_FOR_REVIEWS', 'BUDGET', 'TITLE_YEAR',
       'ACTOR_2_FACEBOOK_LIKES', 'IMDB_SCORE', 'TITLE_YEAR.1'],
      dtype='object')

In [0]:
df1 = df.rename(columns={'DURATION':'TIME'}).head()

In [73]:
df1.head()

                                  MOVIE_TITLE  ...  TITLE_YEAR.1
0                                    Avatar?ÿ  ...        2009.0
1  Pirates of the Caribbean: At World's End?ÿ  ...           NaN
2                                   Spectre?ÿ  ...        2015.0
3                     The Dark Knight Rises?ÿ  ...           NaN
4                               John Carter?ÿ  ...           NaN

[5 rows x 16 columns]

In [74]:
df1.isnull()

   MOVIE_TITLE  NUM_CRITIC_FOR_REVIEWS  ...  IMDB_SCORE  TITLE_YEAR.1
0        False                   False  ...       False         False
1        False                   False  ...       False          True
2        False                   False  ...       False         False
3        False                   False  ...       False          True
4        False                   False  ...       False          True

[5 rows x 16 columns]

In [75]:
df1.isnull().sum()

MOVIE_TITLE                  0
NUM_CRITIC_FOR_REVIEWS       0
TIME                         2
DIRECTOR_FACEBOOK_LIKES      0
ACTOR_3_FACEBOOK_LIKES       0
ACTOR_1_FACEBOOK_LIKES       0
GROSS                        0
NUM_VOTED_USERS              0
CAST_TOTAL_FACEBOOK_LIKES    0
FACENUMBER_IN_POSTER         3
NUM_USER_FOR_REVIEWS         0
BUDGET                       0
TITLE_YEAR                   0
ACTOR_2_FACEBOOK_LIKES       0
IMDB_SCORE                   0
TITLE_YEAR.1                 3
dtype: int64

In [76]:
df1.describe()

       NUM_CRITIC_FOR_REVIEWS        TIME  ...  IMDB_SCORE  TITLE_YEAR.1
count                5.000000    3.000000  ...    5.000000      2.000000
mean               580.400000  152.666667  ...    7.380000   2012.000000
std                203.978675   23.352373  ...    0.798123      4.242641
min                302.000000  132.000000  ...    6.600000   2009.000000
25%                462.000000  140.000000  ...    6.800000   2010.500000
50%                602.000000  148.000000  ...    7.100000   2012.000000
75%                723.000000  163.000000  ...    7.900000   2013.500000
max                813.000000  178.000000  ...    8.500000   2015.000000

[8 rows x 14 columns]

In [0]:
df2 = df1.fillna(0)

In [86]:
df2.head()

                                  MOVIE_TITLE  ...  TITLE_YEAR.1
0                                    Avatar?ÿ  ...        2009.0
1  Pirates of the Caribbean: At World's End?ÿ  ...           0.0
2                                   Spectre?ÿ  ...        2015.0
3                     The Dark Knight Rises?ÿ  ...           0.0
4                               John Carter?ÿ  ...           0.0

[5 rows x 16 columns]

In [87]:
df2['TIME'].mean()

91.6

In [0]:
df3 = df2.TIME.fillna(df2['TIME'].mean())

In [90]:
df3

0    178.0
1      0.0
2    148.0
3      0.0
4    132.0
Name: TIME, dtype: float64

In [93]:
df2.isnull().sum().sum()

0

In [95]:
df2.shape

(5, 16)

In [101]:
df.shape

(14, 16)

In [0]:
df_drop = df.dropna()

In [104]:
df_drop.head()

                                     MOVIE_TITLE  ...  TITLE_YEAR.1
2                                      Spectre?ÿ  ...        2015.0
8                      Avengers: Age of Ultron?ÿ  ...        2015.0
12                           Quantum of Solace?ÿ  ...        2008.0
13  Pirates of the Caribbean: Dead Man's Chest?ÿ  ...        2008.0

[4 rows x 16 columns]

In [105]:
df_drop.shape

(4, 16)