In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/car-sales/Car_sales.csv

In [2]:
#import data
df=pd.read_csv("../input/car-sales/Car_sales.csv")

In [3]:
#Examine data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
Manufacturer           157 non-null object
Model                  157 non-null object
Sales_in_thousands     157 non-null float64
__year_resale_value    121 non-null float64
Vehicle_type           157 non-null object
Price_in_thousands     155 non-null float64
Engine_size            156 non-null float64
Horsepower             156 non-null float64
Wheelbase              156 non-null float64
Width                  156 non-null float64
Length                 156 non-null float64
Curb_weight            155 non-null float64
Fuel_capacity          156 non-null float64
Fuel_efficiency        154 non-null float64
Latest_Launch          157 non-null object
Power_perf_factor      155 non-null float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB
None

In [4]:
#157 data available but there are some null values. Empty values should clean or fill for multiple linear regression.
#I'm deleting empty values for this data.
df=df.dropna()
df.info()
#117 data remains after deletion

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
Manufacturer           117 non-null object
Model                  117 non-null object
Sales_in_thousands     117 non-null float64
__year_resale_value    117 non-null float64
Vehicle_type           117 non-null object
Price_in_thousands     117 non-null float64
Engine_size            117 non-null float64
Horsepower             117 non-null float64
Wheelbase              117 non-null float64
Width                  117 non-null float64
Length                 117 non-null float64
Curb_weight            117 non-null float64
Fuel_capacity          117 non-null float64
Fuel_efficiency        117 non-null float64
Latest_Launch          117 non-null object
Power_perf_factor      117 non-null float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

In [5]:
df.head(8)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.00,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.40,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.90,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724

**Multiple Linear Regression**

* Multiple Linear Regression works just like Simple Linear Regression. 

* The difference is that Multiple Linear Regression has multiple independent variables, but Simple Linear Regression has only one independent variables.
* There is a linear relationship between a dependent variable and an independent variable.

* Target is finding line function.

* The function is for multiple linear regression: y=b+a1*x1+a2*x2+...+an*xn

In [6]:
#I will estimate the value of price_in_thousands with other data.
#My calculations will be based on numerical data, so i will remove non-numerical data from our table. 
#I also didn't include Sales_in_thousands and __year_resale_value because i don't use them to estimate.
df=df[["Price_in_thousands","Engine_size","Horsepower","Wheelbase","Width","Length","Curb_weight","Fuel_capacity","Fuel_efficiency","Power_perf_factor"]]
df.head()

,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
3,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
5,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,84.565105

In [7]:
#I separated the data I would guess and the data I would use to guess. x:independent variables y:dependent variable
x=df.iloc[:,1:10].values
y=df.Price_in_thousands.values.reshape(-1,1)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
multiple_linear_regression=LinearRegression()

#calculating line with fit function
multiple_linear_regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Function of line: y= b+a1*x1+a2*x2+...+a8*x8+a9*x9

Function line is according to my table: Price_in_thousands= b+a1*Engine_size + a2*Horsepower+...+a8*Fuel_efficiency +a9*Power_perf_factor

In [10]:
b=multiple_linear_regression.intercept_
print(b)

[2.67394604e-08]

In [11]:
#There are nine values for independent variables. These are 'a' values. Like a1,a2...a8,a9
a=multiple_linear_regression.coef_
print(a)

[[-6.75424335e-01 -9.16891266e-01  2.28946977e-10 -8.89993487e-10
   4.97756968e-12  6.50719601e-09 -6.87758585e-10  5.97269163e-10
   2.59231560e+00]]

In [12]:
#The score function gives the accuracy of the estimates.
print(multiple_linear_regression.score(x_test,y_test))
# Performance is 1.0 so the estimates are 100% accurate.

1.0

In [13]:
#r2_score works like score function
from sklearn.metrics import r2_score
y_pred=multiple_linear_regression.predict(x_test)

#y_test is real values and r_pred is predicted values
print(r2_score(y_test,y_pred))

1.0

In [14]:
#Let's control values of y_test and y_pred
print("Real values: ",y_test.reshape(1,24))
print("Predicted values: ",y_pred.reshape(1,24))
#There is very little difference between estimates and actual values.

Real values:  [[31.965 31.505 25.31  16.08  38.9   18.145 16.48  14.9    9.235 19.72
  10.685 42.    26.6   24.495 17.5   39.08  21.61  22.605 54.005 19.035
  16.535 11.528 39.665 21.41 ]]
Predicted values:  [[31.965      31.505      25.30999999 16.08000001 38.89999997 18.14499999
  16.48000001 14.9         9.23500003 19.72       10.68500002 42.
  26.59999998 24.49500001 17.5        39.07999997 21.61       22.605
  54.00500008 19.03500001 16.535      11.52800001 39.66500005 21.40999998]]

In [15]:
#example with predict function
print(multiple_linear_regression.predict([[1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150]]))

[[21.50000123]]

In [16]:
print(a)
print(b)

[[-6.75424335e-01 -9.16891266e-01  2.28946977e-10 -8.89993487e-10
   4.97756968e-12  6.50719601e-09 -6.87758585e-10  5.97269163e-10
   2.59231560e+00]]
[2.67394604e-08]

In [17]:
#example with writing b and a values 
print(b+1.8*a[0,0]+140.0*a[0,1]+101.2*a[0,2]+67.3*a[0,3]+172.4*a[0,4]+2.639*a[0,5]+13.2*a[0,6]+28.0*a[0,7]+58.280150*a[0,8])

[21.50000123]