<a href="https://colab.research.google.com/github/sriramabonam/Data-Science-Portfolio/blob/master/working%20notes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [0]:
a.append(3)
print(a)

[1, 2, 3, 3, 3, 3]

In [0]:
a = [1,2,3,4]
a[3] = 11
print(a)

[1, 2, 3, 11]

In [0]:
x = 19

if x < 10:
    print("less than 10")
else:
  print("over 10")

over 10

In [0]:
a = [1,2,3,4,5,6,3 ]
a

[1, 2, 3, 4, 5, 6, 3]

In [0]:
import pandas as pd
a = [1,2,3,4,5,6,3 ]
#b = pd.Series(a)
b.sort_values(ascending=False, inplace=True)
print(b)

5    6
4    5
3    4
6    3
2    3
1    2
0    1
dtype: int64

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
df = pd.read_csv('/content/amazon.csv', encoding = "ISO-8859-1")

In [0]:
df

      year      state     month number      date  Random
0     1998       Acre   Janeiro      0  1/1/1998      63
1     1999       Acre   Janeiro      0  1/1/1999      94
2     2000       Acre   Janeiro      0  1/1/2000      90
3     2001       Acre   Janeiro      0  1/1/2001      71
4     2002       Acre   Janeiro      0  1/1/2002      40
...    ...        ...       ...    ...       ...     ...
6449  2012  Tocantins  Dezembro    128  1/1/2012      46
6450  2013  Tocantins  Dezembro     85  1/1/2013      53
6451  2014  Tocantins  Dezembro    223  1/1/2014      89
6452  2015  Tocantins  Dezembro    373  1/1/2015      50
6453  2016  Tocantins  Dezembro    119  1/1/2016      30

[6454 rows x 6 columns]

In [0]:
df.head(10)

   year state    month number      date  Random
0  1998  Acre  Janeiro      0  1/1/1998      63
1  1999  Acre  Janeiro      0  1/1/1999      94
2  2000  Acre  Janeiro      0  1/1/2000      90
3  2001  Acre  Janeiro      0  1/1/2001      71
4  2002  Acre  Janeiro      0  1/1/2002      40
5  2003  Acre  Janeiro     10  1/1/2003      38
6  2004  Acre  Janeiro      0  1/1/2004      62
7  2005  Acre  Janeiro     12  1/1/2005      16
8  2006  Acre  Janeiro      4  1/1/2006       9
9  2007  Acre  Janeiro      0  1/1/2007       9

In [0]:
df.describe()

              year       Random
count  6454.000000  6454.000000
mean   2007.461729    50.066315
std       5.746654    29.067249
min    1998.000000     0.000000
25%    2002.000000    25.000000
50%    2007.000000    50.000000
75%    2012.000000    75.000000
max    2017.000000   100.000000

In [0]:
df.columns

Index(['year', 'state', 'month', 'number', 'date', 'Random'], dtype='object')

In [0]:
data

In [0]:
df['year'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 6 columns):
year      6454 non-null int64
state     6454 non-null object
month     6454 non-null object
number    6339 non-null object
date      6454 non-null object
Random    6454 non-null int64
dtypes: int64(2), object(4)
memory usage: 302.7+ KB

In [0]:
df.head()

   year state    month number      date  Random
0  1998  Acre  Janeiro      0  1/1/1998      63
1  1999  Acre  Janeiro      0  1/1/1999      94
2  2000  Acre  Janeiro      0  1/1/2000      90
3  2001  Acre  Janeiro      0  1/1/2001      71
4  2002  Acre  Janeiro      0  1/1/2002      40

In [0]:
df.tail()

      year      state     month number      date  Random
6449  2012  Tocantins  Dezembro    128  1/1/2012      46
6450  2013  Tocantins  Dezembro     85  1/1/2013      53
6451  2014  Tocantins  Dezembro    223  1/1/2014      89
6452  2015  Tocantins  Dezembro    373  1/1/2015      50
6453  2016  Tocantins  Dezembro    119  1/1/2016      30

In [0]:
df.isnull().sum()

year        0
state       0
month       0
number    115
date        0
Random      0
dtype: int64

In [4]:
from google.colab import files
uploaded = files.upload()

Saving amazon_fires.csv to amazon_fires.csv

In [0]:
import pandas as pd
files = pd.read_csv('/content/amazon_fires.csv', encoding = "ISO-8859-1")

In [8]:
files

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [10]:
files.head()

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

In [11]:
files.tail()

       ano       mes     estado numero  encontro
6449  2012  Dezembro  Tocantins    128  1/1/2012
6450  2013  Dezembro  Tocantins     85  1/1/2013
6451  2014  Dezembro  Tocantins    223  1/1/2014
6452  2015  Dezembro  Tocantins    373  1/1/2015
6453  2016  Dezembro  Tocantins    119  1/1/2016

In [12]:
files['estado'].unique()

array(['Acre', 'alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara',
       'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao',
       'Mato Grosso', 'Minas Gerais', 'pará', 'Paraiba', 'Pernambuco',
       'Piau', 'Rio', 'rondonia', 'Roraima', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Tocantins'], dtype=object)

In [14]:
len(files['estado'].unique())

23

In [0]:
new_columns = {'ano': 'year',
               'estado': 'state',
               'mes': 'month',
               'numero': 'number_of_files',
               'encontro': 'date'}
files.rename(columns = new_columns, inplace=True)

In [19]:
files.head()

   year    month state number_of_files      date
0  1998  Janeiro  Acre         0 Fires  1/1/1998
1  1999  Janeiro  Acre         0 Fires  1/1/1999
2  2000  Janeiro  Acre         0 Fires  1/1/2000
3  2001  Janeiro  Acre         0 Fires  1/1/2001
4  2002  Janeiro  Acre         0 Fires  1/1/2002

In [21]:
files['year'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [22]:
files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
year               6454 non-null int64
month              6454 non-null object
state              6454 non-null object
number_of_files    6322 non-null object
date               6454 non-null object
dtypes: int64(1), object(4)
memory usage: 252.2+ KB